</div>
<div style="width: 980px; position: absolute; left: 0px; height: 309px; bottom: auto; top: 2431px;" class="s1_footer s1"
    data-state=" " id="SITE_FOOTER">
    <div id="SITE_FOOTERscreenWidthBackground" class="s1screenWidthBackground"
        style="width: 1286px; left: -153px;">
        <div class="s1_bg"></div>
    </div>
    <div id="SITE_FOOTERcenteredContent" class="s1centeredContent">
        <div id="SITE_FOOTERbg" class="s1bg"></div>
        <div id="SITE_FOOTERinlineContent" class="s1inlineContent">
            <div style="top:247px;bottom:;left:-839px;right:;width:2500px;height:62px;position:absolute;" class="s4" id="comp-ikwxobcb">
                <div id="comp-ikwxobcbbg" class="s4bg"></div>
                <div id="comp-ikwxobcbinlineContent" class="s4inlineContent">
                    <div style="top:10px;bottom:;left:992px;right:;width:42px;height:38px;position:absolute;"
                        title="Logo's Sympl.works-01.png"
                        class="s5" id="comp-ikwxrbu8">
                        <div style="width:42px;height:38px;" id="comp-ikwxrbu8link" class="s5link">
                            <div style="width:42px;height:38px;position:relative;" id="comp-ikwxrbu8img" class="s5img">
                                <div class="s5imgpreloader" id="comp-ikwxrbu8imgpreloader"></div><img id="comp-ikwxrbu8imgimage" alt="" src="https://static.wixstatic.com/media/f60f18_35b4d93dac444848a9a584b5b2b801ea.png/v1/fill/w_42,h_37,al_c,usm_0.66_1.00_0.01/f60f18_35b4d93dac444848a9a584b5b2b801ea.png"
                                    style="width: 42px; height: 38px; object-fit: contain;"></div>
                        </div>
                    </div>
                    <div style="top: 21px; left: 1487px; width: 132px; position: absolute;" class="s2" id="comp-ikwxs4sn">
                        <p style="font-size: 14px; text-align: center;" class="font_7"><span class="color_12">All rights reserved</span></p>
                    </div>
                </div>
            </div>
            <div style="top:57px;bottom:;left:750px;right:;width:230px;height:190px;position:absolute;" class="s8" data-state="hasContent"
                id="comp-io9pzsbr"></div>

        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- Add vendor scripts here -->
<!-- Example -->
<!-- <script src="vendor/jquery/dist/jquery.min.js"></script> -->

<!-- Concatenated main script -->
<script src="/js/built.js"></script>
</body>

</html>