{{>_global/head}}
<div class="container-fluid">
        <div class="row">
            <div id="idFormRenderer">
                
    <form id="main-form"> 
    <div class="form-group">
            <label>Name *</label>
            <p class="help-block">Enter your name</p>
        <div class="row">
            <div class="col-md-12">
                <input type="text" value="" class="form-control" placeholder="">
            </div>
        </div>
    </div>
    <div class="form-group">
            <label>Email *</label>
            <p class="help-block">Enter your email</p>
        <div class="row">
            <div class="col-md-12">
                <input type="text" value="" class="form-control" placeholder="">
            </div>
        </div>
    </div>
    <div class="form-group">
            <label>Voer je bedrijf in *</label>
        <div class="row">
            <div class="col-md-12">
                <textarea name="b2aa73fb-ab9e-48e7-a615-944d96fc353a[b841250f-6f3b-4506-9dd2-9e66bd753313]" class="form-control" placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="form-group    ">
        <input type="hidden" name="b2aa73fb-ab9e-48e7-a615-944d96fc353a[14e1a6c4-eabd-4dee-8f5e-342840a8cd34][checkbox]" value="1">
        <div class="row">
            <div class="col-md-12">                    
                    <div class="checkbox">
                        <label><input type="checkbox" name="b2aa73fb-ab9e-48e7-a615-944d96fc353a[14e1a6c4-eabd-4dee-8f5e-342840a8cd34][values][]" value="1">Hou me op de hoogte (no spam)</label>
                    </div>          
                    <div class="checkbox">
                        <label><input type="checkbox" name="b2aa73fb-ab9e-48e7-a615-944d96fc353a[14e1a6c4-eabd-4dee-8f5e-342840a8cd34][values][]" value="2">Contacteer me! - Ik heb snel iemand nodig!</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="form-group clearfix"><button type="submit" class="btn btn-lg btn-default submit-btn btn-block">Send</button></div>
</form>
                </div>
        </div>
    </div>
{{>_global/foot}}