.color_0 {color: $color_0;}
.backcolor_0 {background-color: $color_0;}
.color_1 {color: $color_1;}
.backcolor_1 {background-color:$color_1;}
.color_2 {color:$color_2;}
.backcolor_2 {background-color:$color_2;}
.color_3 {color:$color_3;}
.backcolor_3 {background-color:$color_3;}
.color_4 {color:$color_4;}
.backcolor_4 {background-color:$color_4;}
.color_5 {color:$color_5;}
.backcolor_5 {background-color:$color_5;}
.color_6 {color:$color_6;}
.backcolor_6 {background-color:$color_6;}
.color_7 {color:$color_7;}
.backcolor_7 {background-color:$color_7;}
.color_8 {color:$color_8;}
.backcolor_8 {background-color:$color_8;}
.color_9 {color:$color_9;}
.backcolor_9 {background-color:$color_9;}
.color_10 {color:$color_10;}
.backcolor_10 {background-color:$color_10;}
.color_11 {color:$color_11;}
.backcolor_11 {background-color:$color_11;}
.color_12 {color: $color_12;}
.backcolor_12 {background-color: $color_12;}
.color_13 {color:$color_13;}
.backcolor_13 {background-color:$color_13;}
.color_14 {color:$color_14;}
.backcolor_14 {background-color:$color_14;}
.color_15 {color:$color_15;}
.backcolor_15 {background-color:$color_15;}
.color_16 {color:$color_16;}
.backcolor_16 {background-color:$color_16;}
.color_17 {color:$color_17;}
.backcolor_17 {background-color:$color_17;}
.color_18 {color:$color_18;}
.backcolor_18 {background-color:$color_18;}
.color_19 {color:$color_19;}
.backcolor_19 {background-color:$color_19;}
.color_20 {color:$color_20;}
.backcolor_20 {background-color:$color_20;}
.color_21 {color:$color_21;}
.backcolor_21 {background-color:$color_21;}
.color_22 {color:$color_22;}
.backcolor_22 {background-color:$color_22;}
.color_23 {color:$color_23;}
.backcolor_23 {background-color:$color_23;}
.color_24 {color:$color_24;}
.backcolor_24 {background-color:$color_24;}
.color_25 {color:$color_25;}
.backcolor_25 {background-color:$color_25;}
.color_26 {color:$color_26;}
.backcolor_26 {background-color:$color_26;}
.color_27 {color:$color_27;}
.backcolor_27 {background-color:$color_27;}
.color_28 {color:$color_28;}
.backcolor_28 {background-color:$color_28;}
.color_29 {color:$color_29;}
.backcolor_29 {background-color:$color_29;}
.color_30 {color:$color_30;}
.backcolor_30 {background-color:$color_30;}
.color_31 {color:$color_31;}
.backcolor_31 {background-color:$color_31;}
.color_32 {color:$color_32;}
.backcolor_32 {background-color:$color_32;}
.color_33 {color:$color_33;}
.backcolor_33 {background-color:$color_33;}
.color_34 {color:$color_34;}
.backcolor_34 {background-color:$color_34;}
.color_35 {color:$color_35;}
.backcolor_35 {background-color:$color_35;}