/*
 *	Donderstarter pack
 *	Google Fonts: Droid Sans
 */
 
/* Loading remote webfonts*/
@import url("https://fonts.googleapis.com/css?family=Basic:n,b,i,bi|&subset=latin");
@import url("https://static.parastorage.com/services/santa/1.1433.19/static/css/user-site-fonts/latin.css");

/* Loading local font files example.  Font variable configuration is done in variables.scss */
//@include font-face(YourFontRegular, "../fonts/ProximaNovaMedium");
//@include font-face(YourFontSemiBold, "../fonts/ProximaNovaSemibold");
//@include font-face(YourFontBold, "../fonts/ProximaNovaBold");

.font_0 {
    font:normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,open sans,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_1 {
    font:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_2 {
    font:normal normal normal 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_3 {
    font:normal normal normal 60px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_4 {
    font:normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_5 {
    font:normal normal normal 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_6 {
    font:normal normal normal 22px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_7 {
    font:normal normal normal 17px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_8 {
    font:normal normal normal 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_9 {
    font:normal normal normal 14px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}
.font_10 {
    font:normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;
    color:#605E5E;
    font-family: 'open sans', sans-serif;
}