.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

.POPUPS_ROOT {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  z-index: 50;

  > div { /* page */
    margin: 0 auto;
  }
}

.s0screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0[data-state~="mobileView"] {position:absolute !important;}
.s0[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s0[data-state~="fixedPosition"].s0_footer {top:auto;bottom:0;}
.s0bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s0centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s1screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s1[data-state~="mobileView"] {position:absolute !important;}
.s1[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s1[data-state~="fixedPosition"].s1_footer {top:auto;bottom:0;}
.s1_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(35, 39, 48, 1);  border-top:0px solid rgba(160, 160, 159, 1);border-bottom:0px solid rgba(160, 160, 159, 1);}
.s1[data-state~="mobileView"] .s1bg {left:10px;right:10px;}
.s1bg {position:absolute;top:0px;right:0;bottom:0px;left:0;background-color:rgba(35, 39, 48, 1);border-radius:0;}
.s1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s1centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s2 {word-wrap:break-word;}
.s2 li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.s2 ol,.s2 ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.s2 ol[class~="wix-list"] li,.s2 ul[class~="wix-list"] li {margin-left:1em;margin-right:0;}
.s2 ol[class~="wix-list"][dir="rtl"] li,.s2 ul[class~="wix-list"][dir="rtl"] li {margin-left:0;margin-right:1em;}
.s2 ul {list-style-type:disc;}
.s2 ol {list-style-type:decimal;}
.s2 ul ul,.s2 ol ul {list-style-type:circle;}
.s2 ul ul ul,.s2 ol ul ul {list-style-type:square;}
.s2 ul ol ul,.s2 ol ol ul {list-style-type:square;}
.s2 ul[dir="rtl"],.s2 ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s2 ul[dir="rtl"] ul,.s2 ul[dir="rtl"] ol,.s2 ol[dir="rtl"] ul,.s2 ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.s2 p {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h1 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h2 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h3 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h4 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h5 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 h6 {margin:0;line-height:normal;letter-spacing:normal;}
.s2 a {color:inherit;}
.s3link {position:relative;display:block;z-index:0;overflow:visible;-ms-touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;}
.s3link:after {content:"";position:absolute;z-index:5;width:100%;height:100%;display:block;}
.s3defaultImage {position:absolute;opacity:1;}
.s3hoverImage {position:absolute;opacity:0;}
.s3activeImage {position:absolute;opacity:0;}
.s3_correct-positioning {position:absolute;}
.s3[data-state~="hovered"] .s3defaultImage {opacity:0;}
.s3[data-state~="hovered"] .s3hoverImage {opacity:1;}
.s3[data-state~="hovered"] .s3activeImage {opacity:0;}
.s3[data-state~="pressed"] .s3defaultImage {opacity:0;}
.s3[data-state~="pressed"] .s3hoverImage {opacity:0;}
.s3[data-state~="pressed"] .s3activeImage {opacity:1;}
.s3[data-state~="transition_fade"][data-state~="prepare_adh"] .s3defaultImage,.s3[data-state~="transition_fade"][data-state~="prepare_ahd"] .s3hoverImage,.s3[data-state~="transition_fade"][data-state~="prepare_dah"] .s3activeImage,.s3[data-state~="transition_fade"][data-state~="prepare_dha"] .s3hoverImage,.s3[data-state~="transition_fade"][data-state~="prepare_had"] .s3activeImage,.s3[data-state~="transition_fade"][data-state~="prepare_hda"] .s3defaultImage {z-index:1;transition: opacity 0.1s ease 0s;}
.s3[data-state~="transition_fade"][data-state~="prepare_adh"] .s3activeImage,.s3[data-state~="transition_fade"][data-state~="prepare_ahd"] .s3activeImage,.s3[data-state~="transition_fade"][data-state~="prepare_dah"] .s3defaultImage,.s3[data-state~="transition_fade"][data-state~="prepare_dha"] .s3defaultImage,.s3[data-state~="transition_fade"][data-state~="prepare_had"] .s3hoverImage,.s3[data-state~="transition_fade"][data-state~="prepare_hda"] .s3hoverImage,.s3[data-state~="transition_fade"][data-state~="prepare_adh"] .s3hoverImage {z-index:3;transition: opacity 0.5s ease 0s;}
.s3[data-state~="transition_fade"][data-state~="prepare_ahd"] .s3defaultImage,.s3[data-state~="transition_fade"][data-state~="prepare_dah"] .s3hoverImage,.s3[data-state~="transition_fade"][data-state~="prepare_dha"] .s3activeImage,.s3[data-state~="transition_fade"][data-state~="prepare_had"] .s3defaultImage,.s3[data-state~="transition_fade"][data-state~="prepare_hda"] .s3activeImage {z-index:2;transition: opacity 0.5s ease 0s;}
.s3defaultImage {overflow:hidden;}
.s3defaultImageimage {position:static;box-shadow:#000 0 0 0;}
.s3hoverImage {overflow:hidden;}
.s3hoverImageimage {position:static;box-shadow:#000 0 0 0;}
.s3activeImage {overflow:hidden;}
.s3activeImageimage {position:static;box-shadow:#000 0 0 0;}
.s4bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(0, 0, 0, 1);border-radius:0;  }
.s4inlineContent,.s4bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s5_zoomedin {cursor:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png'), url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur'), auto;overflow:hidden;display:block;}
.s5_zoomedout {cursor:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png'), url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur'), auto;}
.s5link {display:block;overflow:hidden;}
.s5img {overflow:hidden;}
.s5imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s6[data-disabled="false"] {cursor:pointer;}
.s6[data-disabled="false"]:active[data-state~="mobile"] .s6label,.s6[data-disabled="false"]:hover[data-state~="desktop"] .s6label {color:#A0A09F;transition: color 0.4s ease 0s;}
.s6link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s6label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#FFFFFF;white-space:nowrap;display:inline-block;}
.s6[data-disabled="true"] .s6label {color:#FFFFFF;}
.s7[data-disabled="false"] {cursor:pointer;}
.s7[data-disabled="false"]:active[data-state~="mobile"] .s7label,.s7[data-disabled="false"]:hover[data-state~="desktop"] .s7label {color:#A0A09F;transition: color 0.4s ease 0s;}
.s7link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s7label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#FFFFFF;white-space:nowrap;display:inline-block;}
.s7[data-disabled="true"] .s7label {color:#FFFFFF;}
.s8iFrameHolder {width:100%;height:100%;}
.s8iFrameHolder > iframe {position:absolute;}
.s8[data-state="noContent"] {background-color:#A5A5A5;}
.s9screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.s9[data-state~="mobileView"] {position:absolute !important;}
.s9[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.s9[data-state~="fixedPosition"].s9_footer {top:auto;bottom:0;}
.s9bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s9inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s9centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s10 {height:100px;width:100px;}
.s10overlay {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.664);}
.s10inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s11bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s11[data-state~="mobileView"] .s11bg {left:10px;right:10px;}
.s11inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s12bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(153, 9, 62, 1);border-radius:0;  }
.s12inlineContent,.s12bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s13bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(68, 166, 156, 1);border-radius:0;  }
.s13inlineContent,.s13bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s14bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 1);}
.s14[data-state~="mobileView"] .s14bg {left:10px;right:10px;}
.s14inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
.s15bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(242, 242, 242, 1);border-radius:0;  }
.s15inlineContent,.s15bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s16[data-disabled="false"] {cursor:pointer;}
.s16[data-disabled="false"]:active[data-state~="mobile"] .s16label,.s16[data-disabled="false"]:hover[data-state~="desktop"] .s16label {color:#FFFFFF;transition: color 0.4s ease 0s;}
.s16link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s16label {font:normal normal 700 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s16[data-disabled="true"] .s16label {color:#FFFFFF;}
.s16bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.s16inlineContent,.s16bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s17[data-disabled="false"] {cursor:pointer;}
.s17[data-disabled="false"]:active[data-state~="mobile"] .s17label,.s17[data-disabled="false"]:hover[data-state~="desktop"] .s17label {color:#FFFFFF;transition: color 0.4s ease 0s;}
.s17link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s17label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s17[data-disabled="true"] .s17label {color:#FFFFFF;}
.s18[data-disabled="false"] {cursor:pointer;}
.s18[data-disabled="false"]:active[data-state~="mobile"] .s18label,.s18[data-disabled="false"]:hover[data-state~="desktop"] .s18label {color:#FFFFFF;transition: color 0.4s ease 0s;}
.s18link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s18label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s18[data-disabled="true"] .s18label {color:#FFFFFF;}
.s19bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.s19inlineContent,.s19bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s20[data-disabled="false"] {cursor:pointer;}
.s20[data-disabled="false"]:active[data-state~="mobile"] .s20label,.s20[data-disabled="false"]:hover[data-state~="desktop"] .s20label {color:#C73067;transition: color 0.4s ease 0s;}
.s20link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s20label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s20[data-disabled="true"] .s20label {color:#FFFFFF;}
.s20bg {border:1px solid rgba(47, 46, 46, 1);background-color:transparent;border-radius:0;  }
.s20inlineContent,.s20bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s21[data-disabled="false"] {cursor:pointer;}
.s21[data-disabled="false"]:active[data-state~="mobile"] .s21label,.s21[data-disabled="false"]:hover[data-state~="desktop"] .s21label {color:#C73067;transition: color 0.4s ease 0s;}
.s21link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s21label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s21[data-disabled="true"] .s21label {color:#FFFFFF;}
.s22_zoomedin {cursor:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.png'), url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_out.cur'), auto;overflow:hidden;display:block;}
.s22_zoomedout {cursor:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.png'), url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/cursor_zoom_in.cur'), auto;}
.s22link {display:block;overflow:hidden;}
.s22img {overflow:hidden;}
.s22imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.s23bg {border:1px solid rgba(47, 46, 46, 1);background-color:transparent;border-radius:0;  }
.s23inlineContent,.s23bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s24bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(247, 247, 247, 1);}
.s24[data-state~="mobileView"] .s24bg {left:10px;right:10px;}
.s24inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
.s25[data-disabled="false"] {cursor:pointer;}
.s25[data-disabled="false"]:active[data-state~="mobile"] .s25label,.s25[data-disabled="false"]:hover[data-state~="desktop"] .s25label {color:#C73067;transition: color 0.4s ease 0s;}
.s25link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s25label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s25[data-disabled="true"] .s25label {color:#FFFFFF;}
.s26[data-disabled="false"] {cursor:pointer;}
.s26[data-disabled="false"]:active[data-state~="mobile"] .s26label,.s26[data-disabled="false"]:hover[data-state~="desktop"] .s26label {color:#3078BE;transition: color 0.4s ease 0s;}
.s26link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s26label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s26[data-disabled="true"] .s26label {color:#FFFFFF;}
.s27bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 1);}
.s27[data-state~="mobileView"] .s27bg {left:10px;right:10px;}
.s27inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
.s28 {border-left:1px solid rgba(204, 204, 204, 1);margin-left:-0.5px;width:0 !important;min-width:0 !important;}
.s28bg {border:1px solid rgba(47, 46, 46, 1);background-color:transparent;border-radius:0;  }
.s28inlineContent,.s28bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s29 {overflow:hidden;}
.s29 iframe {position:absolute;width:100%;height:100%;overflow:hidden;}
.s29preloaderOverlay {position:absolute;top:0;left:0;color:#373737;width:100%;height:100%;}
.s29preloaderOverlaycontent {width:100%;height:100%;}
.s29unavailableMessageOverlay {position:absolute;top:0;left:0;color:#373737;width:100%;height:100%;}
.s29unavailableMessageOverlaycontent {width:100%;height:100%;background:rgba(255, 255, 255, 0.9);font-size:0;margin-top:5px;}
.s29unavailableMessageOverlaytextContainer {color:#373737;font-family:"Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;font-size:14px;display:inline-block;vertical-align:middle;width:100%;margin-top:10px;text-align:center;}
.s29unavailableMessageOverlay a {color:#0099FF;text-decoration:underline;cursor:pointer;}
.s29unavailableMessageOverlayiconContainer {display:none;}
.s29unavailableMessageOverlaydismissButton {display:none;}
.s29unavailableMessageOverlaytextTitle {font-family:"Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;display:none;}
.s29unavailableMessageOverlay[data-state~="hideIframe"] .s29unavailableMessageOverlay_buttons {opacity:1;}
.s29unavailableMessageOverlay[data-state~="hideOverlay"] {display:none;}
.s30[data-disabled="false"] {cursor:pointer;}
.s30[data-disabled="false"]:active[data-state~="mobile"] .s30label,.s30[data-disabled="false"]:hover[data-state~="desktop"] .s30label {color:#3078BE;transition: color 0.4s ease 0s;}
.s30link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s30label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s30[data-disabled="true"] .s30label {color:#FFFFFF;}
.s31[data-disabled="false"] {cursor:pointer;}
.s31[data-disabled="false"]:active[data-state~="mobile"] .s31label,.s31[data-disabled="false"]:hover[data-state~="desktop"] .s31label {color:#3078BE;transition: color 0.4s ease 0s;}
.s31link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s31label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s31[data-disabled="true"] .s31label {color:#FFFFFF;}
.s32bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(247, 247, 247, 1);}
.s32[data-state~="mobileView"] .s32bg {left:10px;right:10px;}
.s32inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
.s33 {border-left:1px solid rgba(204, 204, 204, 1);margin-left:-0.5px;width:0 !important;min-width:0 !important;}
.s34bg {border:0px solid rgba(48, 120, 190, 1);background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.s34inlineContent,.s34bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s35[data-disabled="false"] {cursor:pointer;}
.s35[data-disabled="false"]:active[data-state~="mobile"] .s35label,.s35[data-disabled="false"]:hover[data-state~="desktop"] .s35label {color:#C73067;transition: color 0.4s ease 0s;}
.s35link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s35label {font:normal normal normal 15px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#2F2E2E;white-space:nowrap;display:inline-block;}
.s35[data-disabled="true"] .s35label {color:#FFFFFF;}
.s36[data-disabled="false"] {cursor:pointer;}
.s36[data-disabled="false"]:active[data-state~="mobile"] .s36label,.s36[data-disabled="false"]:hover[data-state~="desktop"] .s36label {color:#C73067;transition: color 0.4s ease 0s;}
.s36link {position:absolute;top:0;right:0;bottom:0;left:0;}
.s36label {font:normal normal normal 14px/1.4em 'open sans',sans-serif;  transition: color 0.4s ease 0s;  color:#000000;white-space:nowrap;display:inline-block;}
.s36[data-disabled="true"] .s36label {color:#FFFFFF;}
.s37 {pointer-events:none;}
.s37,
.s37_ie10 {max-width:0;max-height:0;}
.s37inlineContent {pointer-events:all;}
.s38bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 1);}
.s38[data-state~="mobileView"] .s38bg {left:10px;right:10px;}
.s38inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:20px;}
.s39bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.s39[data-state~="mobileView"] .s39bg {left:10px;right:10px;}
.s39inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s40inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.s41 {visibility:hidden;}
.wixAdsmobileAd {width:100%;height:30px;position:relative;display:block;text-align:center;background-image:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/BG91x1.jpg');background-repeat:repeat;background-size:100% 30px;z-index:999;}
.wixAdsdesktopWADBottom {position:fixed;z-index:999;width:100%;bottom:0;max-height:10vh;}
.wixAdsdesktopWADBottomContent {width:100%;height:40px;text-align:center;background-color:#404040;border-radius:6px 6px 0 0;pointer-events:all;cursor:pointer;}
.wixAdsdesktopWADBottomContent:hover {background-color:#222;}
.wixAds[data-state~="facebook"] .wixAdsdesktopWADBottomContent {width:500px;margin:0 auto;}
.wixAdsdesktopWADTop {position:fixed;z-index:999;height:26px;top:0;right:50px;overflow:hidden;background-color:#404040;border-radius:0 0 6px 6px;pointer-events:all;cursor:pointer;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.wixAdsdesktopWADTop:hover {height:97px;background-color:rgba(50, 50, 50, 0.8);}
.wixAdsdesktopWADTop:hover .wixAdsdesktopWADTopLabel {background-color:#222;}
.wixAdsdesktopWADTopLabel {padding:6px;font-size:13px;line-height:1.3em;color:#FFF;width:100%;font-size:13px;color:#FFF;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;}
.wixAds[data-state~="desktop"] .wixAdsmobileAd {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopWADTop {display:none;}
.wixAds[data-state~="mobile"] .wixAdsdesktopWADBottom {display:none;}
.wixAdsdesktopWADTopLabel .wixAds_smallMusa {display:inline-block;text-indent:-9999px;width:16px;height:16px;margin-right:5px;background-image:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png');background-repeat:no-repeat;background-position:0% 0%;}
.wixAdsdesktopWADTopLabel .wixAds_smallLogo {display:inline-block;text-indent:-9999px;width:29px;height:16px;background-image:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png');background-repeat:no-repeat;background-position:-16px top;}
.wixAdsdesktopWADTopContent {font-size:13px;line-height:1.3em;color:#ffffff;font-weight:bold;line-height:18px;text-align:justify;padding:5px 10px;width:100%;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner {background-color:rgba(64, 64, 64, 1);width:500px;height:100%;margin:0 auto;border-radius:6px 6px 0 0;  padding:5px 0 0 0;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner div {display:inline-block;height:30px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;text-align:justify;margin:-2px 10px 0 19px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_logoDot {position:static;margin:0 3px;}
.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_emphasis {font-weight:bold;position:relative;top:-6px;}
.wixAdsdesktopWADTopContent .wixAds_spacer {line-height:26px;}
.wixAdsdesktopWADTopContent .wixAds_emphasis {color:#ffcc00;}
.wixAdsdesktopWADTopContent .wixAds_cap {font-size:16px;line-height:1.3em;text-transform:uppercase;}
.wixAdsdesktopWADTopContent .wixAds_face {display:block;line-height:18px;text-align:justify;padding:0 20px;width:120px;}
.wixAdsdesktopWADBottomContent .wixAds_adFootBox {height:40px;width:100%;text-align:center;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner {background-color:rgba(64, 64, 64, 1);border-radius:6px 6px 0 0;  width:100%;height:100%;text-align:center;}
.wixAdsdesktopWADBottomContent:hover .wixAds_siteBanner {background-color:#222;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper {padding:5px 0;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper div {display:inline-block;height:30px;}
.wixAdsdesktopWADBottomContent .wixAds_bigMusa {text-indent:-9999px;width:36px;background-image:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png');background-repeat:no-repeat;background-position:left bottom;position:relative;top:-19px;}
.wixAdsdesktopWADBottomContent.wixAds_nativeAndroid .wixAds_bigMusa {overflow:hidden;}
.wixAdsdesktopWADBottomContent .wixAds_logoDot {text-indent:-9999px;width:39px;height:15px;position:relative;top:-4px;margin:0 5px;background-image:url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/wixads/wf_label_static.png');background-repeat:no-repeat;background-position:right -17px;}
.wixAdsdesktopWADBottomContent .wixAds_emphasis {color:#ffcc00;font-size:16px;text-transform:uppercase;}
.wixAdsdesktopWADBottomContent .wixAds_txt {color:#fff;font-weight:bold;font-size:15px;}
.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_txt {line-height:47px;}@media (orientation: landscape){.wixAdsmobileAd {display:none;}}
@media (orientation: landscape){.wixAds_wixAds[data-state~="mobile"] {display:none;}}
.mobileAppBannercontainer {position:relative;overflow:hidden;z-index:99;height:70px;background-color:#f2f2f2;border-bottom:1px solid #d7d7d7;}
.mobileAppBannercontainer > div {float:left;margin-left:10px;}
.mobileAppBannerclose > a {color:#777777;line-height:70px;font-family:Helvetica, sans-serif, Arial;font-size:14px;}
.mobileAppBannericonbody {width:40px;height:40px;margin-top:15px;border-radius:10px;display:inline-block;  background-size:cover;background-position:center;background-repeat:no-repeat;}
.mobileAppBannercontainer[data-device~="android"] .mobileAppBannericonbody {border-radius:3px;}
.mobileAppBannertext {color:#0d0d0d;line-height:20px;margin-top:15px;}
.mobileAppBannerappname {font-family:"Helvetica Neue", Helvetica, sans-serif, Arial;font-size:13px;font-weight:600;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:175px;}
.mobileAppBannertagline {font-family:"HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif-light, Arial;font-size:13px;font-weight:normal;}
.mobileAppBannergetlink {color:#3798eb;line-height:normal;font-family:"HelveticaNeue-Medium", Helvetica, sans-serif, Arial;font-weight:600;font-size:13px;}
.mobileAppBannercontainer[data-device~="apple"] .mobileAppBannergetlink {font-weight:500;}
.mobileAppBannerbaselinehack {height:14px;line-height:0px;display:inline-block;}
.mobileAppBannerget {border:1px solid #3798eb;border-radius:3px;padding:3px 10px;display:inline-block;}@media all and (max-width: 400px) and (min-width: 0px){.mobileAppBannerget {position:absolute;top:22.5px;right:10px;float:none !important;}}
@media all and (min-width: 401px){.mobileAppBannerget {margin-top:22.5px;margin-left:30px !important;}}
.deadComp {background:transparent;}
.siteBackground {width:100%;position:absolute;}
.siteBackgroundbgBeforeTransition {position:absolute;top:0;}
.siteBackgroundbgAfterTransition {position:absolute;top:0;}
.loginDialog {position:fixed;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;}
.loginDialogblockingLayer {background-color:rgba(85, 85, 85, 0.75);position:fixed;top:0;right:0;bottom:0;left:0;visibility:visible;zoom:1;overflow:auto;}
.loginDialogdialog {background-color:rgba(170, 170, 170, 0.7);width:455px;position:fixed;padding:20px;}
.loginDialog_wrapper {background-color:rgba(255, 255, 255, 1);padding:45px 40px 0 40px;}
.loginDialogxButton {position:absolute;top:-14px;right:-14px;cursor:pointer;background:transparent url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png') no-repeat right top;height:30px;width:30px;}
.loginDialogxButton:hover {background-position:right -80px;}
.loginDialogheader {padding-bottom:25px;line-height:30px;}
.loginDialogfavIcon {float:left;margin:7px 7px 0 0;width:16px;height:16px;}
.loginDialogtitle {font-size:20px;font-weight:bold;color:#555555;}
.loginDialog[data-state~="mobile"] {position:absolute;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;top:0;}
.loginDialog[data-state~="mobile"] .loginDialogheader {padding-bottom:10px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {display:none;}
.loginDialog[data-state~="mobile"] .loginDialogtitle {font-size:14px;}
.loginDialog[data-state~="mobile"] .loginDialogdialog {width:260px;padding:10px;position:absolute;}
.loginDialog[data-state~="mobile"] .loginDialog_footer {margin-top:0;padding-bottom:10px;}
.loginDialog[data-state~="mobile"] .loginDialogcancel {font-size:14px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {padding:14px 12px 0 12px;}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {height:30px;width:100px;font-size:14px;}
.loginDialog_forgot {text-align:left;font-size:12px;}
.loginDialog_forgot a {color:#0198ff;border-bottom:1px solid #0198ff;}
.loginDialog_forgot a:hover {color:#0044ff;border-bottom:1px solid #0044ff;}
.loginDialog_error {font-size:12px;color:#d74401;text-align:right;}
.loginDialog_footer {width:100%;margin-top:27px;padding-bottom:40px;}
.loginDialogcancel {color:#9C9C9C;font-size:18px;text-decoration:underline;line-height:36px;}
.loginDialogcancel:hover {color:#9c3c3c;}
.loginDialogpasswordInput label {font-size:14px;}
.loginDialogpasswordInput label[data-type="password"] {font-size:14px;line-height:30px;height:30px;}
.loginDialogsubmitButton {float:right;cursor:pointer;border:solid 2px #0064a8;height:36px;width:143px;background:transparent url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png') repeat-x right -252px;color:#ffffff;font-size:24px;font-weight:bold;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);}
.loginDialogsubmitButton:hover {background-position:right -352px;border-color:#004286;}
.loginDialog[data-state="normal"] .loginDialogerror {display:none;}
.loginDialog[data-state="error"] .loginDialogerror {display:block;font-size:12px;color:#d74401;text-align:right;}
.loginDialog[data-state="error"] .loginDialogpasswordInput {border-color:#d74401;}
.loginDialogpasswordInput {font-size:1em;}
.loginDialogpasswordInput label {float:none;font-size:17px;line-height:25px;color:#585858;}
.loginDialogpasswordInput[data-state~="mobile"] label {float:none;font-size:14px;line-height:20px;color:#585858;}
.loginDialogpasswordInputinput {padding:0 15px;width:100%;height:42px;font-size:19px;line-height:42px;color:#0198ff;margin:0 -3px;background:transparent url('hhtps://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png') repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {padding:0 15px;width:100%;height:30px;font-size:14px;line-height:30px;color:#0198ff;margin:0 -3px;background:transparent url('https://static.parastorage.com/services/skins/2.1212.0/images/wysiwyg/core/themes/base/viewer_login_sprite.png') repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInputinput[data-type="password"] {font-size:38px;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {font-size:14px;}
.loginDialogpasswordInputerrorMessage {display:block;font-size:12px;color:#d74401;text-align:right;height:15px;}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {visibility:hidden;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {visibility:visible;}
.loginDialogpasswordInput[data-state~="invalid"] input {border-color:#d74401;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {border-color:red;}
.testStyles {position:absolute; display: none; z-index: 48}
.font-ruler-content::after {content:"@#$%%^&*~IAO"}