/* Colour variables */
$main-color: #8DB911;
$light-color: #8DB911;
$dark-color: #4a4a4a;

// Grey scale
$dark-grey: #4e4e4e;
$grey: #444F5C;
$light-grey: #e9eae9;
$lighter-grey: #f4f4f4;
$white: #fff;

// Functional
$blue: #5488c4;
$green: #a3ce51;
$orange: #f68d43;
$red: #e8423b;

$mail-body: #f1f1f1;

// Shadows
$shadow: 0 0 5px 0 rgba(0,0,0,0.1);

/* Font variables */
$main-font: 300 14px/1.2em 'Arial', 'Helvetica', sans-serif;

/* Load local fonts configuration example. */
// $font-regular: YourFontRegular, Helvetica, sans-serif;
// $font-semibold: YourFontSemiBold, Helvetica, sans-serif;
// $font-bold: YourFontBold, Helvetica, sans-serif;
// Add more variations, if necessary

//Sympl Colors
$color_0:#FFFFFF;
$color_1 :#FFFFFF;
$color_2 :#000000;
$color_3 :#ED1C24;
$color_4 :#0088CB;
$color_5 :#FFCB05;
$color_6 :#727272;
$color_7 :#B0B0B0;
$color_8 :#FFFFFF;
$color_9 :#727272;
$color_10 :#B0B0B0;
$color_11 :#FFFFFF;
$color_12 :#CCCCCC;
$color_13 :#A0A09F;
$color_14 :#605E5E;
$color_15 :#2F2E2E;
$color_16 :#BAE9FF;
$color_17 :#97DEFF;
$color_18 :#30BDFF;
$color_19 :#207EA9;
$color_20 :#103F54;
$color_21 :#B6E8E3;
$color_22 :#8DD1CA;
$color_23 :#41BAAE;
$color_24 :#2B7C74;
$color_25 :#163E3A;
$color_26 :#F4C0AF;
$color_27 :#E99F86;
$color_28 :#DE5021;
$color_29 :#943616;
$color_30 :#4A1B0B;
$color_31 :#F4EAB1;
$color_32 :#E9DB89;
$color_33 :#DEC328;
$color_34 :#94821B;
$color_35 :#4A410D;