html, body {
                background-color: $color-1;
            }

            body {
                word-wrap: break-word;
                color: $color-1 !important;
            }

            .container-fluid {
                background-color: transparent;
                color: $color-5;
            }

            h2 {
                color: {{ style.headingFontColor }};
                {{style.headingFont Heading-L}}
            }

            h3 {
                color: {{ style.sectionBreakFontColor }};
                {{style.sectionBreakFont Heading-M}}
            }

            p.lead {
                color: {{ style.headingDescriptionFontColor }};
                {{style.headingDescriptionFont Body-L}}
            }

            label {
                display: block;
                color: {{ style.labelFontColor }};
                {{style.labelFont Body-M}}
            }

            p.help-block {
                color: {{ style.hintFontColor }};
                {{style.hintFont Body-XS}}
            }

            #idFormRenderer {
                padding:20px;
                {{Body-M}}
            }

            #idFormRenderer button[type="submit"] {
                background-color: {{style.buttonColor color-14}};
                color: {{style.buttonTextColor color-1}};
                {{style.submitFont Body-M}}
            }

            input[type="text"], textarea.form-control {
                background-color: {{ style.inputBackground color-21 }} !important;
                color: {{style.inputFontColor color-5}};
                {{style.inputFont Body-M}}
            }

            textarea.form-control {
                height: 200px;
                resize: none;
            }

            @media (max-width: 767px) {

                .g-recaptcha {
                    transform:scale(0.79);
                    transform-origin:0 0;
                }

            }

            .no-form-selected {
                text-align: center;
                background: transparent;
            }

            #successPopup {
                background-color: $color-1;
                color: #ffffff;
                border: 1px solid $color-6;
                position:absolute;
                top:50px;
                left:150px;
                width:650px;
                height:250px;
                z-index:2;
                box-shadow: 0 0 2em $color-5;
            }

            #successPopup #dismiss {
                background-color: {{style.buttonColor color-14}};
                color: {{style.buttonTextColor color-1}};
                {{style.submitFont Body-M}}
            }


           .Title{ 
               font:normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
               } 
            .Menu{ 
                font:normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Page-title{ 
                font:normal normal normal 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Heading-XL{ 
                font:normal normal normal 60px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Heading-L{ 
                font:normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Heading-M{ font:normal normal normal 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Heading-S{ font:normal normal normal 22px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Body-L{ font:normal normal normal 17px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            }
            .Body-M{ font:normal normal normal 15px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Body-S{ font:normal normal normal 14px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            } 
            .Body-XS{ font:normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif; 
            }